
	.porcentajedcto{
	float: right;
    margin-right: -52px;
    font-size: 46px;
    font-family: Barlow;
    color: #42E8B4;
    font-weight: bold;
    margin-top: -7px;
}

.online{
	float: right;
    margin-right: -71px;
    font-size: 16px;
    font-family: Barlow Regular;
    color: #fff;
    margin-top: 46px;
}
.dscto{
	padding: 0;
}
.img-dcto{
	float: right;
}
@media (max-width: 480px){
	.descuento{
	    margin-top: -28px;
	    margin-left: 137px;
	    font-family: Barlow;
	    color: #42E8B4;
	}
	.onlineMobile{
	    font-size: 14px;
	    font-family: Barlow Regular;
	    color: #fff;
	    margin-top: -38px;
	    margin-left: 212px;
	}
		.img-dcto{
		float: none;
		margin-left:121px;
	}
}

@media (max-width: 375px){
	.img-dcto{
		margin-left: 102px;
	}
	.descuento{
		margin-left: 119px;
	}
	.onlineMobile{
		margin-left: 192px;
	}
}
@media (max-width: 320px){
	.img-dcto{
		margin-left: 74px;
	}
	.descuento{
		margin-left: 93px;
	}
	.onlineMobile{
		margin-left: 165px;
	}
}

	