/* barlow-300 LIGHT - latin */
@font-face {
  font-family: 'Barlow Light';
  font-style: normal;
  font-weight: 300;
  src: url('../font/barlow-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Barlow Light'), local('Barlow-Light'),
       url('../font/barlow-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/barlow-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/barlow-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../font/barlow-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/barlow-latin-300.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../font/barlow-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barlow Regular'), local('Barlow-Regular'),
       url('../font/barlow-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/barlow-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/barlow-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/barlow-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/barlow-latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-500 MEDIUM- latin */
@font-face {
  font-family: 'Barlow Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../font/barlow-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Barlow Medium'), local('Barlow-Medium'),
       url('../font/barlow-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/barlow-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/barlow-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../font/barlow-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/barlow-latin-500.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-700 BOLD- latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../font/barlow-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Barlow Bold'), local('Barlow-Bold'),
       url('../font/barlow-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/barlow-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/barlow-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/barlow-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/barlow-latin-700.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-800 EXTRA BOLD- latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  src: url('../font/barlow-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Barlow ExtraBold'), local('Barlow-ExtraBold'),
       url('../font/barlow-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/barlow-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/barlow-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../font/barlow-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/barlow-latin-800.svg#Barlow') format('svg'); /* Legacy iOS */
}