.footer {
	position: absolute;
	bottom: 0;
    background-color: #DDDDDD;
    min-height: 50px;
    margin-top:30px;
    padding: 14px 25px;
    min-width: 100%;
}

.text-footer-copy {	color: #002EFF;font-size: 14px;    line-height: 17px;	}

