
@charset "UTF-8";
.errror_c2c {
	margin: -14px 0 0px 0px;
	text-align: left;
	font-size: 12px;
	color: #e81e1e;
}
@media (max-width:769px){
	.no-padding-right{
		padding-right: 0px;
	}
	.no-padding{
		padding-left: 0px;
		padding-right: 0px;
	}
	.blue_box_gray{
		width: 100% !important;
	}
	.blue_box_gray:hover .quiero-que-me-llamen-copy {
		color: #002eff;
	}
	.blue_box_btn{
		width: 100% !important;
	}
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #ccc;
	border-color: #ccc;
	pointer-events: none;
	cursor: none;
}
@media only screen and (min-device-width:375px) and (max-device-width:667px) {

	.img_bg_blue {
		margin: -16px 0 0 0;
		position: absolute;
		width: 251px
	}
	.img_bg_blue {
		margin: -17px 0 0 -16px;
		position: absolute;
		width: 100%;
	}
	.llamanos-al-9 {
		color: #fff;
		font-size: 20px;
		font-weight: 600;
		line-height: 0;
	}
	.subtextboton{
		line-height: 14px;
		font-size: 14px;
		margin-bottom: -4px;
	}
}
@media (min-width: 576px) {
	.modal-dialog {
		max-width: 448px;
		margin: 1.75rem auto;
	}
	.llamanos-al-9 {
		color: #fff;
		font-size: 20px;
		font-weight: 600;
		line-height: 0;
	}
	.subtextboton{
		line-height: 14px;
		font-size: 16px;
		margin-bottom: -4px;
	}

}

@media ( min-width :992px) {
	.img_bg_blue {
		margin: -16px 0 0 0;
		position: absolute;
		width: 251px;
	}
	body {
		padding-top: 0
	}
}
.hg-container-modal {
	min-height: 200px
}


.btn-primary_fecha:not (:disabled):not (.disabled).active,
.btn-primary_fecha:not (:disabled):not (.disabled):active {
	color: #ff6702;
	background-color: #fff;
	border-color: #ff6702;
	margin-right: 2%;
	font-size: 23px
}

.btn-secondary_fecha:not (:disabled):not (.disabled).active,
.btn-secondary_fecha:not (:disabled):not (.disabled):active {
	box-sizing: border-box;
	height: 3px;
	width: 1022px;
	border: 1px solid #fff
}

.close_c2c {
	float: right;
	font-size: 2.5rem;
	font-weight: 100;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5
}

.llamanos-al-8 {
	color: #002eff;
	font-size: 19px;
	font-weight: 600;
	line-height: 17px;
	text-align: center
}

.llamanos-al-9 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 0;
}

.como-quieres-contin-copy {
	color: #4a4a4a;
	font-size: 19px;
	font-weight: 600;
	line-height: 19px;
	margin: 0 0 0px 15px;
}
.tambien-puedes-llamar2 {
	margin: -8px 0 5px 0;
	color: #fff;
	font-size: 17px;
	line-height: 27px;
}

.btn-primary-C2C {
	color: #fff;
	background-color: #002EFF;
	border-color: #002EFF;
	width: 100%;
	border-radius: 10px !important;
	padding: .575rem .75rem;
}
.btn-primary:hover {
	color: #0062cc !important;
	background-color: #ffffff !important;
	border-color: #0062cc;
	}

.tu-llamada-ha-sido {
	color: #4A4A4A;
	font-size: 23px;
	line-height: 27px;
	text-align: center;
}

.en-breve-uno-de-nues {
	color: #4A4A4A;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.custom-input-modalc2c {
	display: block;
	width: 100%;
	padding: .95rem;
	font-size: 1rem;
	line-height: 1;
	color: #565656 !important;
	background-clip: padding-box;
	border: 1px solid #999999;
	border-radius: 8px;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-input-modalc2c-border {
	display: block;
	width: 100%;
	padding: .95rem;
	font-size: 1rem;
	line-height: 1;
	color: #565656 !important;
	background-clip: padding-box;
	border-left: none;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-radius: 8px;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #ffffff;
	border: 1px solid #999999;
	border-radius: 8px;
}

.blue_box_btn {
	height: 84px;
	padding: 0 5% 0 5%;
	border: .65px solid #4a4a4a;
	border-radius: 5.23px;
	background-color: #fff;
	cursor: pointer;
	width: 90%;
	margin: 0 auto;
}

.blue_box_btn_formulario {
	border-radius: 5.23px;
	background-color: #fff;
	cursor: pointer;
}

.blue_box_btn:hover {
	height: 84px;
	padding: 0 5% 0 5%;
	border: .65px solid #002eff;
	border-radius: 5.23px;
	background-color: #fff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.blue_box_btn:hover .quiero-contratar-onl-copy {
	color: #002eff;
}

.blue_box_btn:hover .subtextc2c {
	color: #002eff;
}

.blue_box_gray {
	height: 84px;
	padding: 0 5% 0 5%;
	border: .65px solid #4a4a4a;
	border-radius: 5.23px;
	cursor: pointer;
	width: 90%;
	margin: 0 auto;
}

.blue_box_gray:hover {
	height: 84px;
	padding: 0 5% 0 5%;
	border: .65px solid #002eff;
	border-radius: 5.23px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.blue_box_gray:hover .quiero-que-me-llamen-copy {
	color: #002eff;
}

.blue_box_gray:hover .subtextc2c {
	color: #002eff;
}

.completa-tu-contrata {
	color: #4A4A4A;
	font-size: 16px;
	line-height: 19px;
}
.quiero-que-me-llamen-copy {

	margin-bottom: 9px;
	color: #093bc8;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 2px;
}
.subtextboton{
	line-height: 14px;
	font-size: 14px;
	margin-bottom: -4px;
}
.quiero-que-me-llamen-copy {
	margin-bottom: 9px;
	color: #4A4A4A;
	font-size: 19px;
	line-height: 30px;
	margin-bottom: 2px;
}
.img_bg_blue {
	margin: -16px 0 0px -16px;
	position: absolute;
	width: 331px;
}
@media ( max-device-width :320px) {
	.blue_box_btn {
		height: 110px;
		padding: 0 5% 0 5%;
		border: .65px solid #4a4a4a;
		border-radius: 5.23px;
		background-color: #fff;
		cursor: pointer;
	}
	.blue_box_btn:hover {
		height: 110px;
		padding: 0 5% 0 5%;
		border: .65px solid #002eff;
		border-radius: 5.23px;
		background-color: #fff;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
		transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}
	.blue_box_gray {
		height: 110px;
		padding: 0 5% 0 5%;
		border: .65px solid #4a4a4a;
		border-radius: 5.23px;
		cursor: pointer;
	}
	.blue_box_gray:hover {
		height: 110px;
		padding: 0 5% 0 5%;
		border: .65px solid #002eff;
		border-radius: 5.23px;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
		transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}
	.img_bg_blue {
		margin: -17px 0 0 -16px;
		position: absolute;
		width: 100%;
	}
	.llamanos-al-9 {
		color: #fff;
		font-size: 20px;
		font-weight: 600;
		line-height: 0;
	}
	.subtextboton{
		line-height: 14px;
		font-size: 14px;
		margin-bottom: -4px;
	}
	.quiero-que-me-llamen-copy {
		margin-bottom: 9px;
		color: #002eff;
		font-size: 15px;
		line-height: 30px;
		margin-bottom: 2px;
	}
}
.nuestros-ejecutivos {
	padding: 0 10% 0 10%;
	color: #636467;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	text-align: center
}
#entel-logo {
	height: 25px;
	width: 25px;
	position: absolute;
	left: calc(50% - 15px);
	top: calc(50% - 15px);
	animation: float 1.5s ease-in-out infinite;
}

#loader {
	animation: animate 1.5s linear infinite;
	clip: rect(0, 100px, 100px, 30px);
	height: 65px;
	width: 65px;
	position: absolute;
	left: calc(50% - 35px);
	top: calc(50% - 35px);
}

@keyframes float {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.1);
	}
	40% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes animate {
	0% {
		transform: rotate(50deg)
	}
	100% {
		transform: rotate(270deg)
	}
}

#loader:after {
	animation: animate2 1.5s ease-in-out infinite;
	clip: rect(0, 100px, 100px, 30px);
	content: '';
	border-radius: 50%;
	height: 65px;
	width: 65px;
	position: absolute;
}
.ocultar{
	display:none !important;
}
@keyframes animate2 {
	0% {
		box-shadow: inset #f2711e 0 0 0 17px;
		transform: rotate(-140deg);
	}
	50% {
		box-shadow: inset #f2711e 0 0 0 0px;
	}
	100% {
		box-shadow: inset #f2711e 0 0 0 17px;
		transform: rotate(140deg);
	}
}


.grecaptcha-badge{
	display:none;
}
