.ocultar{
	display: none !important;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #F2F2F2;
	font-family: Barlow regular;
	position: relative;
	margin: 0;
	padding-bottom: 9rem;
	min-height: 100%;
}

html,
body {
	min-height: 100%;
	width: 100%;
}
 .form-input select.selector::-ms-expand {
     display: none;
}
 input[type=text]::-ms-clear{display: none;}
 input[type=password]::-ms-reveal{display: none;}
  input[type=email]::-ms-reveal{display: none;} 
  input[type="email"] ::-ms-clear{display: none;}
.specific_input_class::-ms-clear{display: none;}
#specific_input_element::-ms-clear{display: none;}
#email::-ms-clear{display: none;}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color:#0154A0;
  box-shadow: #0154A0;
  outline: 0 none;
}
.btn-volver-step{
		width: 220px;
		display: block;
		padding: .475rem .75rem;
		text-align: center;
		color: #002EFF;
		box-sizing: border-box;
		font-size: 1rem;
		border: 1px solid;
		cursor: pointer;
		background-color: #fff;
		border-color: #fff;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		font-weight: 400;
		line-height: 1.5;
		font-size: 18px;
		transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
		.btn-volver-step:hover {
		background-color: #FFF;
		border-color: #002EFF;
		transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.cantidad-meses{
	margin-bottom: 0;	
}
#inbound{
	position: absolute;
}
.logo_up{
position: absolute;
z-index: 1000
}
.margin-steps-global{
	    padding: 5% 5% 10% 5% !important;
}
.iconoCajaInfo {
		width: 2%;
	}
.loading {
	border-radius: 50px;
	width: 50px;
	height: 50px;
	left: calc(50vw - 25px);
	pointer-events: none;
}

 .loader-select{
     border: 4px solid #f3f3f3;
     border-top-color: rgb(243, 243, 243);
     border-top-style: solid;
     border-top-width: 4px;
     border-radius: 50%;
     border-top: 4px solid #3498db;
     width: 30px;
     height: 30px;
     -webkit-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
     position: absolute;
     top: 10px;
     right: 40px;
}
 @keyframes spin{
     100%{
         transform:rotate(360deg) 
    }
}

.spinner {
	display: block;
	width: 34px;
	height: 34px;
	top: 8px;
	top: calc(50% - 15px);
	left:calc(50% - 17px);
    
	background: 0 0;
	box-sizing: border-box;
	border-top: 4px solid #eae1e1;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-radius: 100%;
	animation: spin .6s ease-out infinite
}

@keyframes spin {
	100% {
		transform: rotate(360deg)
	}
}

.contenedor-caja-info {
	padding: 2% 0 0 0;
}
.Precio-plan{
	font-size: 28px;
	font-weight: 400;
	color: #002EFF;
	
}
.span-title-plan {
	font-size: 28px;
	color: #002EFF;
	margin-right: 10px;
	font-weight: 600;
}
.estas-solicitando{
	color: #4d4d4d!important;
	font-family: "Barlow Medium";
	font-size: 28px;
	margin-right: 10px;
}

.p-con-detalles {
	line-height: 10px;
	font-size: 18px;
	margin: 6px;
}

.plan-libre-35-gb-17 {
	color: #002EFF;
	font-family: Barlow regular;
	font-size: 24px;
	text-align: center;
}

.redes-sociales-libre {
	color: #4D4D4D;
	font-family: "Barlow Medium";
	font-size: 18px;
	line-height: 10px;
	text-align: center;
	margin-top: 8px;
}

.class__icos__redes_d {
	width: 220px;
}

.text-gb {
	color: #4D4D4D;
	font-family: "Barlow Medium";
	font-size: 18px;
	line-height: 12px;
	text-align: center;
}

.minutos-libres {
	color: #002EFF;
	font-family: "Barlow Medium";
	font-size: 18px;
	line-height: 12px;
	text-align: center;
}

.sms {
	color: #4D4D4D;
	font-family: "Barlow Medium";
	font-size: 18px;
	line-height: 12px;
	text-align: center;
}

.caja-white-formulario {
	background: #fff;
	width: 737px;
	border-radius: 8px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);	
}
.caja-white-formulario-portabilidad {
	background: #fff;
	width: 737px;
	border-radius: 8px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
	
}

.ingresa-tus-datos-pa {
	color: #191919;
	font-family: Barlow regular;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	font-weight: 400;
	margin-top: 30px;
}
.ingresa-tus-datos-pa-portabilidad {
	color: #191919;
	font-family: Barlow regular;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	margin-top: 30px;
	font-weight: 400;
}

.text-input {
	font-size: 19px;
	color: #0D4AD3;
}

.progress-pasos {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	table-layout: fixed;
	width: 100%;
	color: #849397;
	margin-bottom: -25px
}

.progress-pasos img{
	width: 40px;
	height: 40px;
}

.progress-pasos>li {
	position: relative;
	display: table-cell;
	text-align: center;
	font-size: 0.8em;
}

.progress-pasos>li:before {
	content: attr(data-step);
	display: none;
	margin: 0 auto;
	background: #DFE3E4;
	width: 3em;
	height: 3em;
	text-align: center;
	margin-bottom: 0.25em;
	line-height: 3em;
	border-radius: 100%;
	position: relative;
	z-index: 1000;
}

.progress-pasos>li:after {
	content: '';
	position: absolute;
	display: block;
	background: #999999;
	width: 100%;
	height: 0.15em;
	top: 1.5em;
	left: 50%;
	margin-left: 1.5em\9;
	z-index: -1;
}

.progress-pasos>li:last-child:after {
	display: none;
}

.progress-pasos>li.is-complete {
	color: #2ECC71;
}

.progress-pasos>li.is-complete:before,
.progress>li.is-complete:after {
	color: #FFF;
	background: #2ECC71;
}

.progress-pasos>li.is-active {
	color: #002EFF;
}

.progress-pasos>li.is-active:before {
	color: #FFF;
	background: #3498DB;
}


/**
 * Needed for IE8
 */

.progress__last:after {
	display: none !important;
}

.form-input {
	margin: 0 auto;
	color: #0154A0;
	padding: 0px 0;
	font-family: 'Barlow regular', sans-serif;
	font-size: 1.1em;
	height: 116px;
}

.ingresa-tus-datos {
	color: #002EFF;
	font-size: 18px;
	font-weight: 500;
	line-height: 14px;
	text-align: center;
	padding-top: 2%;
}

.form-input.error-input input {
	background-image: url(../img/Error-incorrecto.svg);
	background-repeat: no-repeat;
	background-position: right 10px bottom 11px;
	padding-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-color: #e8200c !important;
}

.form-input input {
	display: block;
	width: 100%;
	height: calc(2.80rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #191919;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #999999;
	border-radius: .65rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-input.error-input.normal .mensaje-error {
	font-size: 14px;
	display: block;
	color: #E8200C;
	padding: 5px 10px;
	box-sizing: border-box;
	margin: 0;
	margin-top: 1px;
	border-radius: 3px;
	font-weight: 500;
}

.mensaje-error {
	display: none;
}

.mensaje-error-bloqueo {
	display: none;
}


.mensaje-error-rut {
	display: none;
}

.form-input.error-input.bloqueo .mensaje-error-bloqueo {
	font-size: 14px;
	display: block;
	color: #E8200C;
	padding: 5px 10px;
	box-sizing: border-box;
	margin: 0;
	margin-top: 1px;
	border-radius: 3px;
	font-weight: 500;
}

.form-input.error-input.rut .mensaje-error-rut {
	font-size: 14px;
	display: block;
	color: #E8200C;
	padding: 5px 10px;
	box-sizing: border-box;
	margin: 0;
	margin-top: 1px;
	border-radius: 3px;
	font-weight: 500;
}

.btn-next-step {
	width: 220px;
	display: block;
	padding: .475rem .75rem;
	text-align: center;
	color: #fff !important;
	box-sizing: border-box;
	font-size: 1rem;
	border: 1px solid transparent;
	cursor: pointer;
	background-color: #002EFF;
	border-color: #002EFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: 400;
	line-height: 1.5;
	font-size: 18px;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
 .grecaptcha-badge{
     display: none 
}

.btn-next-step:hover {
	background-color: #fff;
	border-color: #002EFF;
	color: #002EFF !important;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	text-decoration: none;
}

.form-input.iscorrect input {
	background-image: url(../img/Check-correcto.svg);
	border-color: #002eff !important;
	background-repeat: no-repeat;
	background-position: right 10px bottom 11px;
	padding-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.form-input.error-input input {
	background-image: url(../img/Error-incorrecto.svg);
	background-repeat: no-repeat;
	background-position: right 10px bottom 11px;
	padding-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
	//CSS
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	//CSS
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
	
	.footer {
    position: absolute;
     bottom: -158px !important;
}
	.text-gb {
		color: #4D4D4D;
		font-family: "Barlow Medium";
		font-size: 18px;
		line-height: 12px;
		text-align: center;
	}
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.p-con-detalles{
		line-height: 23px;
		margin: 0;
	}
	.cantidad-meses{
		font-weight: 400;
		margin-bottom: 0px;
	}
	.Precio-plan{
	font-size: 22px;
	margin: 0;
}

	.estas-solicitando{
		font-size: 22px;
		margin-right: 5px;
		font-weight: 400;
	}
	.text-gb {
		color: #4D4D4D;
		font-family: "Barlow Medium";
		font-size: 13px;
		line-height: 12px;
		text-align: center;
	}
	.minutos-libres {
		color: #002eff;
		font-family: "Barlow Medium";
		font-size: 15px;
		line-height: 12px;
		text-align: center;
		font-weight: 400;
		margin-top: 7px;
	}
	.sms {
		color: #4D4D4D;
		font-family: "Barlow Medium";
		font-size: 13px;
		line-height: 12px;
		text-align: center;
	}
	.redes-sociales-libre {
		color: #4D4D4D;
		font-family: "Barlow Medium";
		font-size: 13px;
		line-height: 10px;
		text-align: center;
	}
	.class__icos__redes_d {
		width: 160px;
	}
	.iconoCajaInfo {
		width: 6%;
		margin-right: 5px;
	}
	.span-title-plan {
		font-size: 20px;
		
	}
	.plan-libre-35-gb-17 {
		color: #002EFF;
		font-size: 19px;
		line-height: 10px;
		text-align: center;
		margin-bottom: 14px;
	}
	.caja-white-formulario {
		max-width: 98%;
		background: #fff;
		border-radius: 8px;
		box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
	}
		.caja-white-formulario-portabilidad {
		max-width: 93%;
		background: #fff;
		border-radius: 8px;
		box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
	}
	.exclusivo-online-p {
    	font-size: 14px !important;
    	line-height: 19px !important;
	}
}

.btn-next-step.disabled, .btn-next-step-orange.disabled {
    border-radius: .625rem;
    background-color: #ddd;
    cursor: default;
    color: #0020B3;
    padding: .675rem .75rem;
    border: 1px solid transparent;
    pointer-events: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.top-bar {
    background: #43E8B4;
    color: #020247;    
    padding: 3px 0;
}



 .exclusivo-online-p {		color: #020247;		font-size: 18px;	line-height: 8px;	text-align: center;    padding-top: 9px;}
.por-6-meses-hasta-el-alert-top {		color: #020247;		font-size: 13px;	line-height: 0px;	text-align: center;}
.por-6-meses-hasta-el {	height: 32px;	width: 343px;	color: #020247;	font-size: 18px;	line-height: 24px;	text-align: center;}

/* .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
     border-bottom: none;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #43E8B4;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: none;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
} */
.close_modal_descuento {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 10;
}

.exclusivo-online {		color: #020247;		font-size: 38px;	font-weight: 600;	line-height: 36px;	text-align: center;}
.portate-y-obten-un {		color: #020247;		font-size: 26px;	line-height: 32px;	text-align: center;}

