html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #F2F2F2;
	font-family: Barlow regular;
	position: relative;
	margin: 0;
	padding-bottom: 9rem;
	min-height: 100%;
}
 .form-input select.selector::-ms-expand {
     display: none;
}
 input[type=text]::-ms-clear{display: none;}
 input[type=password]::-ms-reveal{display: none;}
  input[type=email]::-ms-reveal{display: none;} 
  input[type="email"] ::-ms-clear{display: none;}
.specific_input_class::-ms-clear{display: none;}
#specific_input_element::-ms-clear{display: none;}
#email::-ms-clear{display: none;}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color:#0154A0;
  box-shadow: #0154A0;
  outline: 0 none;
}
.margin-steps-global {
	padding: 5% 5% 10% 5% !important;
}

.logo_up {
	position: absolute;
	z-index: 1000000
}
.bienvenido-a-entel {
     color: #0D4AD3;
     font-size: 34px;
     letter-spacing: 0.38px;
     line-height: 41px;
     text-align: center;
}
.recibiras-un-correo {	color: #191919;		font-size: 18px;	font-weight: 500;	line-height: 22px;	text-align: center;}
.bienvenida-final{  
	color: #0D4AD3;
    font-size: 34px;
    letter-spacing: 0.38px;
    line-height: 41px;
    text-align: center;
    }
.nombre-bienvenid {
	color: #002EFF;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	font-family: Barlow regular;
}

.tu-solicitud-ha-sido {
	color: #191919;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
}

.el-titular-de-la-sol {
	color: #002EFF;
	line-height: 17px;
}

.recibiras-un-correo {
	font-family: Barlow regular;
	color: #191919;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	text-align: center;
}

.border-blue {
	border: 1px solid blue;
	border-radius: 8px;
}

.ingresa-tus-datos {
	color: #002EFF;
	font-size: 18px;	
	line-height: 14px;
	text-align: center;
	padding-top: 2%;
}

.text_mensaje_fac_anticipada {
	text-align: left;
	color: #333333;
	font-size: 14px;
}

button:not (:disabled ), [type="button"]:not (:disabled ), [type="reset"]:not
	(:disabled ), [type="submit"]:not (:disabled ) {
	cursor: pointer;
}

.btn-next-step-orange {
	height: 50.59px;
	width: 100%;
	display: block;
	padding: .675rem .75rem;
	text-align: center;
	background-color: #002EFF;
	color: #fff;
	box-sizing: border-box;
	margin: 30px auto;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 18px;
	border: solid 1px #002EFF;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-next-step-orange:hover {
	display: block;
	padding: .675rem .75rem;
	text-align: center;
	background-color: #fff;
	color: #002EFF;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 18px;
	border: solid 1px #002EFF;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.margin_fix_newmensaje {
	margin: 0 22% 13px 22%;
	border: solid 1px #002EFF;
	border-radius: 8px;
	padding-top: 1%;
}

html, body {
	min-height: 100%;
	width: 100%;
}

.loading {
	border-radius: 50px;
	width: 50px;
	height: 50px;
	left: calc(50vw - 25px);
	pointer-events: none;
}

.spinner {
	display: block;
	width: 34px;
	height: 34px;
	top: 8px;
	top: calc(50% - 15px);
	/*left:calc(50% - 17px);
    */
	background: 0 0;
	box-sizing: border-box;
	border-top: 4px solid #eae1e1;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-radius: 100%;
	animation: spin .6s ease-out infinite
}

@
keyframes spin { 100% {
	transform: rotate(360deg)
}

}
.contenedor-caja-info {
	padding: 2% 0 0 0;
}

.span-title-plan {
	font-size: 32px
}

.p-con-detalles {
	line-height: 10px;
	font-size: 18px;
	margin: 6px;
}

.plan-libre-35-gb-17 {
	color: #002EFF;
	font-family: Barlow;
	font-size: 24px;
	text-align: center;
}

.redes-sociales-libre {
	color: #4D4D4D;
	font-family: "Barlow ";
	font-size: 18px;
	line-height: 10px;
	text-align: center;
}

.class__icos__redes_d {
	width: 200px;
}

.text-gb {
	color: #4D4D4D;
	font-family: "Barlow ";
	font-size: 18px;
	line-height: 12px;
	text-align: center;
}

.minutos-libres {
	color: #4D4D4D;
	font-family: "Barlow ";
	font-size: 18px;
	line-height: 12px;
	text-align: center;
}

.sms {
	color: #4D4D4D;
	font-family: "Barlow ";
	font-size: 18px;
	line-height: 12px;
	text-align: center;
}

.caja-white-formulario {
	background: #fff;
	width: 737px;
	border-radius: 8px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}

.ingresa-tus-datos-pa {
	color: #191919;
	font-family: Barlow;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	padding-top: 7%;
}

.text-input {
	font-size: 20px;
	color: #0D4AD3;
}

.progress-pasos {
	list-style: none;
	margin: 0;
	padding: 0;
	display: table;
	table-layout: fixed;
	width: 100%;
	color: #849397;
	margin-bottom: -25px
}

.progress-pasos img {
	width: 40px;
	height: 40px;
}

.progress-pasos>li {
	position: relative;
	display: table-cell;
	text-align: center;
	font-size: 0.8em;
}

.progress-pasos>li:before {
	content: attr(data-step);
	display: none;
	margin: 0 auto;
	background: #DFE3E4;
	width: 3em;
	height: 3em;
	text-align: center;
	margin-bottom: 0.25em;
	line-height: 3em;
	border-radius: 100%;
	position: relative;
	z-index: 1000;
}

.progress-pasos>li:after {
	content: '';
	position: absolute;
	display: block;
	background: #999999;
	width: 100%;
	height: 0.15em;
	top: 1.5em;
	left: 50%;
	margin-left: 1.5em\9;
	z-index: -1;
}

.progress-pasos>li:last-child:after {
	display: none;
}

.progress-pasos>li.is-complete {
	color: #2ECC71;
}

.progress-pasos>li.is-complete:before, .progress>li.is-complete:after {
	color: #FFF;
	background: #2ECC71;
}

.progress-pasos>li.is-active {
	color: #002EFF;
}

.progress-pasos>li.is-active:before {
	color: #FFF;
	background: #3498DB;
}

/**
 * Needed for IE8
 */
.progress__last:after {
	display: none !important;
}

.form-input {
	margin: 0 auto;
	color: #0154A0;
	padding: 10px 0;
	font-family: 'Barlow ', sans-serif;
	font-size: 1.1em;
}

.form-input.error-input input {
	background-image: url(../img/Error-incorrecto.svg);
	background-repeat: no-repeat;
	background-position: right 10px bottom 11px;
	padding-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-color: #e8200c !important;
}

.form-input input {
	display: block;
	width: 100%;
	height: calc(2.80rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #191919;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #999999;
	border-radius: .65rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-input.error-input .mensaje-error {
	font-size: 14px;
	display: block;
	color: #E8200C;
	padding: 5px 10px;
	box-sizing: border-box;
	margin: 0;
	margin-top: 1px;
	border-radius: 3px;
	font-weight: 500;
}

.btn-next-step {
	width: 220px;
	display: block;
	padding: .475rem .75rem;
	text-align: center;
	color: #fff !important;
	box-sizing: border-box;
	font-size: 1rem;
	border: 1px solid transparent;
	cursor: pointer;
	background-color: #002EFF;
	border-color: #002EFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: 400;
	line-height: 1.5;
	font-size: 18px;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-next-step:hover {
	background-color: #fff;
	border-color: #002EFF;
	color: #002EFF !important;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
		text-decoration: none;
}

.mensaje-error {
	display: none;
}

.form-input.iscorrect input {
	background-image: url(../img/Check-correcto.svg);
	border-color: #002eff !important;
	background-repeat: no-repeat;
	background-position: right 10px bottom 11px;
	padding-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.form-input.error-input input {
	background-image: url(../img/Error-incorrecto.svg);
	background-repeat: no-repeat;
	background-position: right 10px bottom 11px;
	padding-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media ( min-width : 768px) and (max-width: 1024px) {
	//
	CSS
	

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media ( min-width : 768px) and (max-width: 1024px) and (orientation:
	landscape) {
	//
	CSS
	

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media ( min-width : 481px) and (max-width: 767px) {
	.footer {
		position: absolute;
		bottom: -14% !important;
	}
	.tu-solicitud-ha-sido {
		color: #191919;
		font-family: Barlow;
		font-size: 17px;
		line-height: 29px;
		text-align: center;
	}
	.nombre-bienvenid {
		color: #002EFF;
		font-size: 19px;
		line-height: 38px;
		text-align: center;
		font-family: barlow;
	}
	.btn-next-step-orange {
		display: block;
		padding: .675rem .75rem;
		text-align: center;
		background-color: #002EFF;
		color: #fff;
		width: 90%;
		box-sizing: border-box;
		margin: 30px auto;
		border: none;
		cursor: pointer;
		border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		font-size: 18px;
		width: 100%;
		border: solid 1px #002EFF;
		transition: color .15s ease-in-out, background-color .15s ease-in-out,
			border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}
	.margin_fix_newmensaje {
		margin: 0 4% 13px 4%;
		border: solid 1px #002EFF;
		border-radius: 8px;
		padding-top: 1%;
	}
	.text-gb {
		color: #4D4D4D;
		font-family: "Barlow ";
		font-size: 18px;
		line-height: 12px;
		text-align: center;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media ( min-width : 320px) and (max-width: 480px) {
	.tu-solicitud-ha-sido {
		color: #191919;
		font-size: 17px;
		line-height: 29px;
		text-align: center;
	}
	.nombre-bienvenid {
		color: #002EFF;
		font-size: 22px;
		line-height: 26px;
		text-align: center;
	}
	.btn-next-step-orange {
		display: block;
		padding: .675rem .75rem;
		text-align: center;
		background-color: #002EFF;
		color: #fff;
		width: 90%;
		box-sizing: border-box;
		margin: 30px auto;
		border: none;
		cursor: pointer;
		border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		font-size: 18px;
		width: 100%;
		border: solid 1px #002EFF;
		transition: color .15s ease-in-out, background-color .15s ease-in-out,
			border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}
	.margin_fix_newmensaje {
		margin: 0 4% 13px 4%;
		border: solid 1px #002EFF;
		border-radius: 8px;
		padding-top: 1%;
	}
	.text-gb {
		color: #4D4D4D;
		font-family: "Barlow ";
		font-size: 13px;
		line-height: 12px;
		text-align: center;
	}
	.minutos-libres {
		color: #4D4D4D;
		font-family: "Barlow ";
		font-size: 13px;
		line-height: 12px;
		text-align: center;
	}
	.sms {
		color: #4D4D4D;
		font-family: "Barlow ";
		font-size: 13px;
		line-height: 12px;
		text-align: center;
	}
	.redes-sociales-libre {
		color: #4D4D4D;
		font-family: "Barlow ";
		font-size: 13px;
		line-height: 10px;
		text-align: center;
	}
	.class__icos__redes_d {
		width: 160px;
	}
	.iconoCajaInfo {
		width: 18px
	}
	.span-title-plan {
		font-size: 24px;
	}
	.plan-libre-35-gb-17 {
		color: #002EFF;
		font-size: 19px;
		line-height: 10px;
		text-align: center;
	}
	.caja-white-formulario {
		max-width: 91%;
		background: #fff;
		border-radius: 8px;
		box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
	}
	.exclusivo-online-p {   
    	font-size: 13px !important;
	}
}