@font-face {
    font-family: 'barlowregular';
    src: url('barlow-regular-webfont.eot');
    src: url('barlow-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('barlow-regular-webfont.woff2') format('woff2'),
         url('barlow-regular-webfont.woff') format('woff'),
         url('barlow-regular-webfont.ttf') format('truetype'),
         url('barlow-regular-webfont.svg#barlowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowbold';
    src: url('barlow-bold-webfont.eot');
    src: url('barlow-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('barlow-bold-webfont.woff2') format('woff2'),
         url('barlow-bold-webfont.woff') format('woff'),
         url('barlow-bold-webfont.ttf') format('truetype'),
         url('barlow-bold-webfont.svg#barlowbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowextrabold';
    src: url('barlow-extrabold-webfont.eot');
    src: url('barlow-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('barlow-extrabold-webfont.woff2') format('woff2'),
         url('barlow-extrabold-webfont.woff') format('woff'),
         url('barlow-extrabold-webfont.ttf') format('truetype'),
         url('barlow-extrabold-webfont.svg#barlowextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'barlowlight';
    src: url('barlow-light-webfont.eot');
    src: url('barlow-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('barlow-light-webfont.woff2') format('woff2'),
         url('barlow-light-webfont.woff') format('woff'),
         url('barlow-light-webfont.ttf') format('truetype'),
         url('barlow-light-webfont.svg#barlowlight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'barlowmedium';
    src: url('barlow-medium-webfont.eot');
    src: url('barlow-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('barlow-medium-webfont.woff2') format('woff2'),
         url('barlow-medium-webfont.woff') format('woff'),
         url('barlow-medium-webfont.ttf') format('truetype'),
         url('barlow-medium-webfont.svg#barlowmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}