<meta charset="UTF-8">
      <#if Session.Plan?exists>
      <!-- caja info -->     
      <div class="container">
         <div class="row  d-flex justify-content-center contenedor-caja-info">
            <div class="col-md-12 text-center d-none d-md-block ">
               <span class="d-flex align-items-center justify-content-center">
               <span class="estas-solicitando">Estás solicitando</span>
               <span class="span-title-plan"> ${Session.Plan.nombrePlanCompleto} </span>
				<span class="Precio-plan">| $${Session.Plan.cargoDcto}/mes</span>
               	     
<!--                	<#if Session.Plan.smsPlan?exists && Session.Plan.smsPlan != ""> -->
<!--               		<span class="sms mr-0 ml-0 mr-md-2 ml-md-2"> -->
<!--               			<img src="img/icon-mensajes.svg" class="iconoCajaInfo"> -->
<!--                			${Session.Plan.smsPlan} -->
<!--               		</span>  -->
<!--                 </#if> -->
               	</span>
               </span>
               
               <#if Session.Plan.tieneDescuentoEspecifico>
               		<p class="cantidad-meses">Por ${Session.Plan.duracionOferta} meses, luego $${Session.Plan.cargoPlanMeses}</p>
               <#elseif Session.Plan.tieneDescuento>
               		<p class="cantidad-meses">Por ${Session.Plan.duracionOferta} meses, luego $${Session.Plan.cargoPlan}</p>
               </#if>
               
               <p class="redes-sociales-libre">
               <span class="minutos-libres text-gb mr-0 ml-0 mr-md-2 ml-md-2"><img src="img/datos-icono.svg" class="iconoCajaInfo">
	                    Navega ${Session.Plan.datosPlan}
	                     <#if !Session.Plan.datosPlan?contains("Libre")>
	                     GB
	                     </#if>
               </span>
               <span class="minutos-libres mr-1 ml-1 mr-md-2 ml-md-2">
	                  <img src="img/movil-icono.svg" class="iconoCajaInfo">
	                  <#if Session.Plan.minutosPlan?exists && Session.Plan.minutosPlan != "Libres"> 
	                      <span style="margin-right:10px;">${Session.Plan.minutosPlan} Minutos libres </span> 
	                     <#else> 
	                     Minutos ${Session.Plan.minutosPlan} 
	                     </#if>
	                  </span>
               
               <#if Session.Plan.rrssPlan == "L"> 
                  	<span class="minutos-libres" style="margin-right: 10px;">Gigas libres en</span><img src="img/redes-sociales.png"class="class__icos__redes_d" alt=""> 
                  <#else> 
                  	<img src="img/redes_sociales_sin_instagram.svg" class="class__icos__redes_d" alt=""> 
                  </#if>             
           
               </p>
            </div>
            
            <div class="col-md-6 text-center d-block d-md-none">
               <p class="plan-libre-35-gb-17">
               <span class="estas-solicitando">Estas solicitando</span>
               </p>
               <p class="p-con-detalles">
               	  <span class="span-title-plan"> ${Session.Plan.nombrePlanCompleto} </span>	
               	  <span class="Precio-plan">| $${Session.Plan.cargoDcto}/mes</span><br>
               	  <#if Session.Plan.tieneDescuentoEspecifico>
               		<p clas="cantidad-meses">Por ${Session.Plan.duracionOferta} meses, luego $${Session.Plan.cargoPlanMeses}</p>
              		<#elseif Session.Plan.tieneDescuento>
              		<p class="cantidad-meses">Por ${Session.Plan.duracionOferta} meses, luego $${Session.Plan.cargoPlan}</p>
               	</#if>
	              
                  <span class=" minutos-libres text-gb mr-0 ml-0 mr-md-2 ml-md-2"><img src="img/datos-icono.svg" class="iconoCajaInfo">
                    Navega ${Session.Plan.datosPlan}
                     <#if !Session.Plan.datosPlan?contains("Libre")>
                     GB
                     </#if>
                  </span>
                  <span class="minutos-libres mr-1 ml-1 mr-md-2 ml-md-2">
                  <img src="img/movil-icono.svg" class="iconoCajaInfo">
                  <#if Session.Plan.minutosPlan?exists && Session.Plan.minutosPlan != "Libres"> 
                     ${Session.Plan.minutosPlan} Minutos libres
                     <#else> 
                     Minutos ${Session.Plan.minutosPlan} 
                     </#if>
                  </span>
<!--                    <#if Session.Plan.smsPlan?exists && Session.Plan.smsPlan != ""> -->
<!--                   		<span class="sms mr-0 ml-0 mr-md-2 ml-md-2"> -->
<!--                   		<img src="img/icon-mensajes.svg" class="iconoCajaInfo"> -->
<!--                    			${Session.Plan.smsPlan} -->
<!--                   		</span>  -->
<!--                    </#if> -->
               <div class="minutos-libres">
               <span style="margin-right: 10px;">Gigas libres en</span>   
               
               <#if Session.Plan.rrssPlan == "L"> 
                  	<img src="img/redes-sociales.png"class="class__icos__redes_d" alt=""> 
                  <#else> 
                  	<img src="img/redes_sociales_sin_instagram.svg" class="class__icos__redes_d" alt=""> 
                  </#if>             
           
               </div>
            </div>
         </div>
      </div>
      <!-- ///FIN caja info --> 
      </#if>