<#if Session.Plan.tieneDescuento && Session.Plan.mostrarOferta>
<meta charset="UTF-8">
<!-- OFERTA DCTO PORTABILIDAD  --> 
        <div class="container col-12 col-md-7 caja-white-formulario-portabilidad jqContainer" style="padding-left: 0px; padding-right: 0px;">
        	<div style="width: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_modal_descuento jqBtnDescuentoPortabilidad" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="img/White_modal_descuento.svg"> </span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" action="">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <div class="d-flex justify-content-center mb-3">
                            <img src="img/Porcentaje_blue.svg">
                        </div>
                        <div class="d-flex justify-content-center">
                            <p class="exclusivo-online">¡Exclusivo online!</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="form-group col-12 col-md-6">
                            <p class="portate-y-obten-un">Contrata y obtén un <strong style="font-size: 30px;">${Session.Plan.porcentajeDsctoOferta}%</strong> de descuento en el cargo fijo</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-center mb-3">
                            <p class="por-6-meses-hasta-el">Promoción válida hasta el ${Session.Plan.vigenciaOferta}, descuento aplica por ${Session.Plan.duracionOferta} meses</p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-next-step btn-block mt-3 jqBtnDescuentoPortabilidad">Entiendo</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-xs-center">

            </div>
        </div>
    </div>
        </div>
</#if> 