<link rel="stylesheet" href="css/descuentoOnline.css">

<div class="dscto col-md-12 d-none d-md-block" style="height: 0px;">
	<img class="img-dcto" src="img/bg-dcto.svg">
	<span class="porcentajedcto">10</span>
	<span class="porcentajedcto" style="margin-right: -74px; font-size:25px; margin-top:4px;">%</span>
	<span class="porcentajedcto" style="margin-right: -83px; font-size:14px; margin-top:30px;">Dcto</span>
	<span class="online">Online</span>
</div>
<div class="dscto col-md-12 d-block d-md-none ">
	<img class="img-dcto" src="img/bg-dcto-mobile.svg">
	<p class="descuento">10% Dcto.</p>
	<p class="onlineMobile">Online</p>
</div>