<meta charset="UTF-8">
<footer class="footer footer-no-nav navbar-fixed-bottom">
   <div class="">
      <div class="row marg0 d-flex justify-content-center">
         <div class="col-md-12 h-100   my-auto text-center">
              <p class="text-footer-copy mt-3">Copyright Empresa Nacional de Telecomunicaciones S.A. Todos los derechos reservados.</p>
         </div>
      </div>
   </div>
   <input id="jqValNumeroInbound" type="hidden" value="${Session.Inbound}">
   <script type="text/javascript" src="js/bluecart.js"></script>
</footer> 
<script>            /**
   * Mostrar/Ocultar loader, dentro de un boton.
     * @param target Id o Clase del elemento que deba contener el "loader".
     * @param type Tipo de selector, si es 'id' o 'class'
   * Por ejemplo: showButtonLoader('btnIngresarReclamo-gtm', 'id');
     */
    function toggleButtonLoader(target, type) {
        var selector;

        switch(type) {
            case 'id':
                selector = '#';
                break;
            case 'class':
                selector = '.';
                break;
        }

        var button = $(selector + target),
            spinner = '<span class="spinner"></span>';

        if (!button.hasClass('loading')) {
            textoBoton = button.text();
            button.toggleClass('loading').html(spinner);
        }
        else {
            button.toggleClass('loading').html(textoBoton);
        }
        loaderTarget = target;
        loaderType = type;

    }
</script>