<meta charset="UTF-8">
<!-- Mensaje Descuento desktop -->
<div class="top-bar d-block animated delay-1s">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 d-block">
        <p class="exclusivo-online-p ">${Session.OfertaEspecifica} <strong>${Session.Plan.porcentajeDsctoEspecifico}%</strong> Dcto. por <strong>$${Session.Plan.cargoPlanMeses}</strong></p>
      </div>         
    </div>
  </div>
</div>
<!-- //FIN Mensaje descuento -->