<#if Session.Plan.tieneDescuento && Session.Plan.mostrarOferta>
<meta charset="UTF-8">
<!-- Mensaje Descuento desktop -->
<div class="top-bar d-block animated delay-1s jqBtnDescuentoPortabilidadMensaje ocultar">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 d-block">
        <p class="exclusivo-online-p "><b>¡Exclusivo online!</b> Pórtate y obtén un <strong>${Session.Plan.porcentajeDsctoOferta}%</strong> Dcto.</p>
         <p class="por-6-meses-hasta-el-alert-top">Por ${Session.Plan.duracionOferta} meses hasta el ${Session.Plan.vigenciaOferta}</p>
      </div>         
    </div>
  </div>
</div>
<!-- //FIN Mensaje descuento -->
</#if>