<button class="btn-next-step g-recaptcha d-flex justify-content-center disabled ocultar" data-sitekey="${Session.siteKeyCaptcha}" data-callback="onSubmitBalancer" id="btnCaptchaBalancer" name="btnCaptchaBalancer" >Continuar</button>
<style>
	.ocultar{
		display: none !important;
	}
</style>		
<script type="text/javascript">

	function onSubmitBalancer(response) {
		if(captchaDisplay === "porta"){
			onSubmit();
		}else if(captchaDisplay === "teAyudo"){
			onSubmitC2C();
		}
	
	}
</script>